@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
  // border: dotted 1px tomato;
}

// TYPOGRAPHY
.title {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 14px;
  text-transform: capitalize;
}

.subtitle {
}

.text {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: 700;
  text-transform: capitalize;
}

// CARD
.card {
  min-height: 190px;
  min-width: 150px;
  background: white;
  padding: 20px 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  box-shadow: 0px 4px 20px 0px rgba(225, 225, 225, 1);
  border-radius: 8px;
  transition: all ease-in 0.25s;

  &-item {
    &:hover {
      transform: scale(1.025);
    }
  }

  .thumb {
    margin: 0 auto;
  }

  .types {
    &-container {
      display: flex;
      justify-content: center;
      gap: 4px;
    }

    &-item {
      border-radius: 15px;
      padding: 4px 6px;
      color: white;
      background: rgba(14, 14, 14, 1);
      text-transform: uppercase;
      min-width: 64px;
      font-size: 8px;
      font-weight: 600;

      &.grass {
        background: rgba(8, 254, 195, 1);
      }
      &.bug {
        background: darken(rgba(8, 254, 195, 1), 30%);
      }
      &.poison {
        background: rgba(175, 8, 254, 1);
      }
      &.water {
        background: rgba(0, 163, 255, 1);
      }
      &.fire {
        background: rgba(254, 8, 8, 1);
      }
      &.fighting {
        background: darken(rgba(254, 8, 8, 1), 30%);
      }
      &.electric {
        background: rgba(255, 184, 0, 1);
      }
      &.ground {
        background: rgba(133, 130, 110, 1);
      }
      &.rock {
        background: darken(rgba(133, 130, 110, 1), 14%);
      }
      &.fairy {
        background: rgba(251, 161, 236, 1);
      }
      &.psychic {
        background: darken(rgba(251, 161, 236, 1), 30%);
      }
      &.normal {
        background: rgba(196, 196, 196, 1);
      }
      &.flying {
        background: rgba(83, 23, 252, 1);
      }
      &.ice {
        background: lighten(rgba(83, 23, 252, 1), 20%);
      }
      &.default {
        background: rgba(14, 14, 14, 1);
      }
      &.dragon {
        background: complement(rgba(83, 23, 252, 1));
      }
    }
  }
}

// SEARCH
.search {
  &-wrapper {
    position: relative;
    // padding: 0 15px;
    margin-bottom: 20px;

    .clear {
      position: absolute;
      right: 15px;
      height: 50px;
      background: transparent;
      width: 50px;
      font-weight: 700;
      border-radius: 25px;
      /* border-top-right-radius: 25px;
      border-bottom-right-radius: 25px; */
      &:hover {
        background: rgb(238, 238, 238);
      }
    }
  }

  &-bar {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: solid 1px rgba(225, 225, 225, 1);
    padding: 20px;
  }
}

// LAYOUT
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-container {
    @apply container mx-auto pt-8 pb-10;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  margin: 0 auto;

  @media screen and (min-width: 720px) and (max-width: 1279px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
}
